<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
    
</head>
<body>
   
    <div class="main-class">
         <h1>About Page</h1>
        {{>header}}
        <p>This is a Covid-19 tracker application. You can get Global data and data about different places in India from this website. Have used api.covid19api.com and api.covid19india.org APIs to get latest data.</p>
        <p>
            <h2>GitHub: <a class="linksToAccounts" href="https://github.com/souvik9748/node-covid19-tracker">Covid Tracker</a> </h2>
        </p>
        <p> If you want then you can contribute to this repo. Thanks!</p>
    </div>
    
    {{>footer}}
</body>
</html>