<!DOCTYPE html>
<html>
<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    <div class="main-class">
        <h1>Help Page</h1>
        {{>header}}
        <ul>
            <li><h3>Home Page:</h3> Contains two extra links which are Global and India.</li>
            <li><h3>Global Page:</h3> This page gives the data about all the countries in the World.</li>
            <li><h3>India Page:</h3> You can get the data by place or date using this page.</li>
            <li><h3>About Page:</h3> Gives a little idea about this Website. And a GitHub link is there using which you can contribute to the Repository.</li>
            <li><h3>Help Page:</h3> This page contains details about all the pages.</li>
            <li><h3>About Creator:</h3> This page gives a little information about the creator. Here you can find few links from which you can contact the creator. Or you can just check those accounts out.</li>
        </ul>
    </div>
    
    {{>footer}}
</body>
</html>