<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/icon.png">
</head>
<body>
    
    <div class="main-class">
        <title>Home</title>
        <h1>Home Page</h1>
        {{>header}}
        <p> You can use this page to get Covid-19 related data about India and rest of the World.</p>
        <br>
        <br>

        <p>
            <h3> You can get information about India from this page: <a class="links2"href="/india">India</a></h3>
            
            <h3>You can get Global information from this page: <a class="links2"href="/global">Global</a></h3>
            
        </p>
        
    </div>
    {{>footer}}
    
</body>
</html>