<footer>
    <div class="forHeader">
        <p><h3 class="linksToAccounts">Death Count</h3></p>
        <p><b>Global:</b> {{global.TotalDeaths}}      <b>India:</b>  {{india.TotalDeaths}}</p>
    </div>
    <p>Created By: <b>Souvik</b> || <a class="linksToAccounts" href="/about_creator">About Creator</a></p>
</footer>